{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">All Tasks </h4>
    </div>
    <div class="card-body">
        <form>
            <div class="row align-items-center g-3">
                <div class="col-auto">
                    <label class="visually-hidden" for="inputEmail">Customer Name</label>
                    <input type="search" class="form-control" id="customer_name" name="customer_name" placeholder="Customer Name">
                </div>
                <div class="col-auto">
                    <label class="visually-hidden" for="work_status">Work Status</label>
                    <select class="form-select" id="work_status" name="work_status">
                        <option value="">Select</option>
                        <option {% if  request.GET.work_status == 'pending' %} selected {% endif %}>pending</option>
                        <option {% if request.GET.work_status == 'completed' %} selected {% endif %}>completed</option>
                    </select>
                </div>
                <!-- <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkRemember">
                        <label class="form-check-label" for="checkRemember">Remember me</label>
                    </div>
                </div> -->
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    {% comment %} <th scope="col">#</th> {% endcomment %}
                    <th scope="col">Date</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Contact details</th>
                    <th scope="col">Description</th>
                    <th scope="col">Work status</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Total amount</th>
                    <th scope="col">Advance amount</th>
                    <th scope="col">Pending amount</th>
                    <th scope="col">Remark</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                {% if task.work_status == "pending" %}
                <tr style="background: red;:">
                {% else %}
                <tr>
                {% endif %}
                    <th scope="row">{{ task.date }}</th>
                    <td>{{ task.customer_name }}</td>
                    <td>{{ task.contact_details }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.work_status }}</td>
                    <td>{{ task.amount_status }}</td>
                    <td>{{ task.Total_amount }}</td>
                    <td>{{ task.advance_amount }}</td>
                    <td>{{ task.pending_amount }}</td>
                    <td>{{ task.remark }}</td>
                    <td> <a href="/tasks/edit_task/{{ task.id }}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if tasks.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ tasks.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}.
                </span>

                {% if tasks.has_next %}
                <a href="?page={{ tasks.next_page_number }}">next</a>
                <a href="?page={{ tasks.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>

{% endblock %}